node_modules/
.env
backend/config/config.json
.DS_Store
env.*
*.log
backend/.env
.env
# archived duplicates
/repo-dupes-archive

# envs and backups
*.env
*.env.bak
*.bak

# nested accidental folders
/pos-all/pos-all
/frontend/frontend

/repo-dupes-archive

# Node
node_modules/
frontend/node_modules/
backend/node_modules/
# Node
node_modules/
frontend/node_modules/
backend/node_modules/
backend-startup-logs.txt
